---
import Layout from "../../layouts/Layout.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue"
import Register from "../../components/pages/register/index.vue"
---

<Layout>
  <Main loading={false}>
    <Topbar title="Register" client:visible/>
    <Register client:visible/>
  </Main>
</Layout>