---
import Layout from "@/shared/layouts/Layout.astro"
import Main from "@/shared/layouts/Main.vue"
import Topbar from "@/shared/components/UI/Topbar.vue"
import OTP from "@/user-register/pages/otp.vue"
---

<Layout>
  <Main loading={false}>
    <Topbar title="Register" client:only/>
    <OTP client:visible/>
  </Main>
</Layout>