---
import Layout from "../../layouts/LayoutWSidebar.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue"
import CreateTrip from "../../components/pages/create-trip/index.vue"
---

<Layout>
  <Main>
    <Topbar title="Create Trip" client:visible/>
    <CreateTrip client:only/>
  </Main>
</Layout>