---
import Layout from "../../layouts/LayoutWSidebar.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue"
import TripPage from "../../components/pages/trip/index.vue"
const { trip } = Astro.params;
export const prerender = false;
---

<Layout>
  <Main>
    <Topbar title="Trip" client:only/>
    <TripPage index={Number(trip)} trip-id={trip} client:only/>
  </Main>
</Layout>