---
import Layout from "../../layouts/LayoutWSidebar.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue"
import TripsPage from "../../components/pages/trips/index.vue"
export const prerender = false;
---

<Layout>
  <Main>
    <Topbar title="Trips" client:visible/>
    <TripsPage client:only/>
  </Main>
</Layout>