---
import Layout from "../../layouts/LayoutWSidebar.astro";
import Topbar from "../../components/UI/Topbar.vue"
import Main from "../../components/layout/Main.vue"
import Profile from "../../components/pages/profile/index.vue"
export const prerender = false;

// Get the user data that the middleware attached to `Astro.locals`
// This is now the definitive source for user information.
const user = Astro.locals.user;

// Pass the user's photo URL to the Topbar component
const userPhotoURL = user?.photoURL || null;
---

<Layout>
  <Main>
    <Topbar title="Profile" photoURL={userPhotoURL} client:load />
    <Profile client:load/>
  </Main>
</Layout>
