---
import Layout from "../../layouts/LayoutWSidebar.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue"
import ActiveTrips from "../../components/pages/active-trip/index.vue"
export const prerender = false;
---

<Layout>
  <Main>
    <Topbar title="Active Trips" client:only/>
    <ActiveTrips client:only/>
  </Main>
</Layout>