---
import Layout from "@/shared/layouts/Layout.astro"
import Main from "@/shared/layouts/Main.vue"
import Topbar from "@/shared/components/UI/Topbar.vue"
import FeaturesPage from "@/features-list/pages/index.vue"
export const prerender = false;
---

<Layout>
  <Main>
    <Topbar title="Features" client:visible/>
    <FeaturesPage client:only/>
  </Main>
</Layout>