---
import Layout from "@/shared/layouts/Layout.astro"
import Main from "@/shared/layouts/Main.vue"
import Topbar from "@/shared/components/UI/Topbar.vue";
import BuildProfile from "@/build-profile/pages/index.vue"
export const prerender = false;
---

<Layout>
  <Main loading={false}>
    <Topbar title="Build Profile" client:only/>
    <BuildProfile client:only/>
  </Main>
</Layout>