---
import Layout from "../../layouts/Layout.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue";
import BuildProfile from "../../components/pages/build-profile/index.vue"
export const prerender = false;
---

<Layout>
  <Main loading={false}>
    <Topbar title="Build Profile" client:visible/>
    <BuildProfile client:visible/>
  </Main>
</Layout>