---
import Layout from "../../layouts/LayoutWSidebar.astro"
import Main from "../../components/layout/Main.vue"
import Topbar from "../../components/UI/Topbar.vue"
export const prerender = false;
---

<Layout>
  <Main>
    <Topbar title="Expenses" client:only/>
    <div class="flex flex-col items-center justify-center w-full h-full">
      <span class="text-2xl font-bold">We're still working on it!</span>
    </div>
  </Main>
</Layout>