---
import Layout from "../layouts/Layout.astro"
import Main from "../components/layout/Main.vue"
import Sidebar from "../components/UI/Sidebar.vue"
import Anchor from "../components/UI/Anchor.vue"
import Button from "../components/UI/Button.vue"
import Card from "../components/UI/Card.vue"
import Dropdown from "../components/UI/Dropdown.vue"
import Input from "../components/UI/Input.vue"
import Select from "../components/UI/Select.vue"
import Switch from "../components/UI/Switch.vue"
import Tag from "../components/UI/Tag.vue"
import Toast from "../components/UI/Toast.vue"
---

<Layout>
  <div class="w-full grow flex relative">
    <Sidebar client:only/>
    <div class=" w-full h-fit flex justify-center">
      <Main client:load loading={false} customClass="gap-8">
        <div>
          <span class="text-2xl text-black!">Component Guide</span>
        </div>

        <!-- ANCHOR -->
        <div class="flex flex-col">
          <span>Anchor</span>
          <Anchor href="/">Link</Anchor>
        </div>

        <!-- BUTTON -->
        <div class="flex flex-col w-fit">
          <span>Button</span>
          <Button>Button</Button>
        </div>

        <!-- CARD -->
         <div class="flex flex-col w-fit">
          <span>Card</span>
          <Card>Card</Card>
         </div>

         <!-- DROPDOWN -->
        <div class="flex flex-col w-fit">
          <span>Dropdown</span>
          <Dropdown client:only items={['hello', 'world']}/>
        </div>

        <!-- INPUT -->
        <div class="flex-flex-col w-fit">
          <span>Input</span>
          <Input id="input" prefixIcon="ph ph-user" label="Input" placeholder="Enter Input"/>
        </div>

        <!-- LOADER -->
        <div class="flex flex-col w-fit">
          <span>Loader</span>
          <i class="text-zinc-600 animate-spin ph ph-spinner text-4xl flex items-center justify-center"></i>
        </div>

        <!-- SELECT -->
        <div class="flex flex-col w-fit">
          <span>Select</span>
          <Select id="select" options={[{ label: 'Option', value: 'value' }]} label="Select" placeholder="Select..."/>
        </div>

        <!-- SWITCH -->
        <div class="flex flex-col w-fit">
          <span>Switch</span>
          <Switch modelValue={true}/>
        </div>

        <!-- TAG -->
        <div class="flex flex-col w-fit">
          <span>Tag</span>
          <Tag label="Tag"/>
        </div>

        <!-- TOAST -->
        <div class="flex flex-col w-fit gap-2">
          <span>Toast</span>
          <Toast message="Toast" variant="success" :duration="9999" />
          <Toast message="Toast" variant="error" :duration="9999" />
          <Toast message="Toast" variant="info" :duration="9999" />
          <Toast message="Toast" variant="warning" :duration="9999" />
        </div>
      </Main>
    </div>
  </div>
</Layout>

<style scoped>
@reference "../styles/global.css";
span {
  @apply text-zinc-500;
}
</style>