---
import Layout from "@/shared/layouts/Layout.astro"
import Main from "@/shared/layouts/Main.vue"
import Topbar from "@/shared/components/UI/Topbar.vue"
import WhatIsAgdayoPage from "@/domains/landing-pages/pages/what-is-agdayo.vue"
export const prerender = false;
---

<Layout>
  <Main>
    <Topbar title="What is Agdayo?" client:only/>
    <WhatIsAgdayoPage client:only/>
  </Main>
</Layout>