---
import "../styles/global.css"
import Footer from "../components/UI/Footer.vue"
import Sidebar from "../components/UI/Sidebar.vue"
import { ClientRouter } from "astro:transitions";
import {getCache, setCache} from "../cache/page-cache";

const currentUrl = Astro.url.pathname;

// Check if a cached version of the page exists
let cachedContent = getCache(currentUrl);

// If the page is in the cache, we can return it immediately
if (cachedContent) {
  return new Response(cachedContent, {
    headers: {
      'Content-Type': 'text/html',
      'X-Cache-Status': 'HIT', // A custom header to indicate a cache hit
    },
  });
}

// If not, we let the page render as usual. We'll capture the output later.
---
<!doctype html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" href="/favicon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTLV7R88E8"></script>
    <meta name="google-site-verification" content="dGOrBniNsY0dn6m2QE6j8LNB7LXqm5CZ2_ZR0nnxXPE" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WTLV7R88E8');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <title>Agdayo Traveling App</title>
    <slot name="head"></slot>
    <ClientRouter />
  </head>
  
  <!-- BODY -->
  <body class="outfit relative text-zinc-900 flex flex-col min-h-screen bg-cover bg-center bg-no-repeat">
    <Sidebar client:load/>
    <slot class="flex-grow" />
    <Footer class="pb-16 lg:pb-4" />
  </body>
</html>