---
import "../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
		<title>Agdayo Traveling App - Login</title>
		<meta name="robots" content="noindex, follow">
	</head>
	<body class="outfit text-zinc-900 flex flex-col min-h-screen bg-cover bg-center bg-no-repeat">
		<slot class="flex-grow" />
	</body>
</html>